@import url(main.css);
  
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: var(--background1);
  }
  
  h1 {
    font-size: 4vh;
    cursor: default;
    font-weight: 400px;
    cursor: default;
  }
  
  .logoText {
    margin-top: -7vh;
    font-size: 4vh;
    margin-left: 12vh;
    display: none;
  }
  
  h2 {
    text-align: center;
    margin-top: 5vh;
    font-size: 3vh;
    font-weight: bold;
    cursor: default;
  }
  
  
  hr {
    border: 0.1vh solid rgb(230,230,230);
    /*margin-top: 85vh;*/
    width: 100vw;
    height: 0vh;
  }
  
  .logo {
    width: 4vh;
    height: 4vh;
    margin-left: 2vh;
    margin-top: 2vh;
    filter: brightness(95%);
    border-radius: 100vh;
    background: white;
    padding: 2vh;
    cursor: pointer;
    animation: fadeIn3 4s ease-in-out;
    animation-iteration-count: 9999999;
    animation-direction: reverse;
    z-index: 5;
    position: relative;
  }
  
  .logo2 {
    opacity: 0;
    width: 4vh;
    height: 4vh;
    margin-left: -8.5vh;
    margin-top: 2vh;
    filter: brightness(95%);
    border-radius: 100vh;
    background: white;
    padding: 2vh;
    cursor: pointer;
    position: static;
    z-index: 1;
    transition: 0.2s ease;
    animation: fadeIn2 4s ease-in-out;
    animation-iteration-count: 999999;
    z-index: 6;
    position: relative;
  }
  
  .logo:hover ~ .logo2, .logo2:hover {
    opacity: 1;
    animation: none;
  }
  
  .logo2:hover:has(.logo) {
    animation: none;
    opacity: 0;
  }
  
  .items, #items {
    display: inline-flex;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 300px;
    max-height: 30vh;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .item, #item {
    animation: item 0.5s ease;
    width: 225px;
    height: 80%;
    background: rgb(240,240,240);
    padding: 0.8vw;
    text-align: center;
    border-radius: 1.5vw;
    font-size: 1.15vw;
    transition: 0.2s ease;
    margin: 1.15vw;
    cursor: pointer;
    box-shadow: 0px 0px 2vh rgba(0,0,0,0.05);
  }
  
  .item:hover {
    filter: brightness(95%);
    box-shadow: 0px 0px 2vh rgba(0,0,0,0.1);
  }
  
  .item img {
    width: 100%;
    height: 70%;
    cursor: pointer;
    border-radius: 2vh;
  }
  
  .item h3 {
    margin-top: 0.8vh;
    cursor: pointer;
  }
  
  .item p {
    color: rgb(160,160,160);
    margin-top: -1.7vh;
    cursor: pointer;
  }
  
  .logoDesc, .logoText, .recomend {
    cursor: default
  }
  
  .logoDesc {
    color: rgb(190,190,190);
    text-align: center;
    font-size: 1.9vh;
  }
  
  .recomend::selection {
    background: none;
  }
  
  .articleImage {
    position: relative;
    display: inline-block;
  }
  
  .articleImage img {
    position: relative;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 10%,rgba(0,0,0,0.35) 100%);
  }
  
  /*.articleImage:after {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  top: -14vh;*/
  /*  left: 0;*/
  /*  width: 100vw;*/
  /*  height: 100vh;*/
  /*  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.6206524846266632) 100%);*/
  /*  pointer-events: none;*/
  /*}*/
  
  .articleTitle {
    text-align: center;
    position: absolute;
    width: 95vw;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .articleImage img {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    margin-top: -14vh;
  }
  
  .articleText {
    position: relative;
    margin-left: 2vh;
    min-height: 70vh;
    z-index: 1;
    margin-top: -40%;
  }
  
  #pageName {
    display: none;
  }
  
  pre {
    font-family: inherit;
    cursor: default;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  
  p {
    cursor: default;
  }
  
  .articleWriter {
    cursor: default;
    color: rgb(160,160,160);
    text-align: center;
  }
  
  .search {
    padding: 2vh;
    border-radius: 5vh;
    border: none;
    outline: none;
    font-weight: bold;
    width: 2.5vh;
    height: 2.5vh;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2vh;
    background: rgb(240,240,240);
    overflow-x: hidden;
    transition: 0.3s ease;
    box-shadow: 0px 0px 2vh rgba(0,0,0,0.075);
  }
  
  .search:hover {
    width: 20vh;
  }
  
  .search:hover input {
    opacity: 1;
  }
  
  .search input {
    width: 15vh;
    height: 2.5vh;
    margin-top: -1vh;
    margin-left: -.75vh;
    position: fixed;
    padding: 1vh;
    border-radius: 4vh;
    outline: none;
    border: none;
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .search img {
    width: 2.5vh;
    height: 2.5vh;
    float: right;
    cursor: pointer;
  }
  
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: 0.2s ease;
  }
  
  .loading-icon {
    width: 5vh;
    height: 5vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3; /* Background */
    border-top: 16px solid rgba(0,0,0,0.5); /* Bar color */
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    animation: spin 1s linear infinite;
    position: fixed;
    top: calc(50% - 6.75vh);
    left: calc(50% - 6.75vh);
    transform: translate(-50%,-50%);
  }
  
  .alert {
    background: rgba(255,255,255,0.6);
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter: blur(4px);
  }
  
  .alert p {
    position: relative;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
  }